@using Dominio.Entidades;

<div class="w-25 m-auto">
    <h1 class="text-center">Inicio sesion</h1>

    <form method="post">
        @if (!string.IsNullOrEmpty(ViewBag.msj))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.msj
            </div>
        }
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="example@example.com">
        </div>
        <div class="mb-3">
            <label for="contrasenia" class="form-label">Contraseña</label>
            <input type="text" name="contrasenia" class="form-control" id="contrasenia" placeholder="********">
        </div>
        <button type="submit" class="btn btn-primary w-100">Log in</button>
    </form>
</div>

