@using Dominio.Entidades;


<div>
    <h1>Inicio sesion</h1>
    <form action="/" method="post">
        <input type="email" name="Correo" value="" placeholder="Ingrese correo"/>
        <input type="text" name="Contrasenia" placeholder="Ingrese contraseia"/>
    </form>
</div>

